@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Floor 234</h1>

You start at floor 1 and try to make it all the way to floor 234


<!-- [2] add a new component -->


<!-- [1] This is what you are looking at at the 'home page' -->
<!-- [1] You will find the implecation of the div 'SurveyPrompt' inside the Shared folder under 'SurveyPrompt.razor' -->

<!-- [2] Components have the .razor (can reuse, similar to method) -->
