@page "/todo"
<!-- [4] Goes over everthing in this file-->
<h3>Todo</h3>

<ul>
    @foreach (var item in Todos)
    {
        <li>@item.Description @item?.DueDate</li>
    }
</ul>

<!-- [9] EditForm -->
<!--EditForm--> <!-- [9] Model="DTOModel" OnValidSubmit="PlaceTodo"   now bind-value-->
<form>
    <input @bind="NewTodo" @bind:event="oninput" placeholder="What do you need to do?" />
    <input @bind="DueDate" @bind:format="yyyy-MM-dd" placeholder="Due Date" />
    <!--@bind-value-->
    <!-- [9] ValidationMessage For=@(() => DueDate)-->
    <button @onclick="Save">Save</button>
</form>
    <!-- [10] Validation-->
    <!--DataAnnotationsValidator-->
    <!--[10] Go see Validation Message on line 16-->
    <!--ValidationSummary-->
<!--/!--EditForm-->

@if(!string.IsNullOrEmpty(NewTodo))
{
    <p>@NewTodo Due: @DueDate?.ToShortDateString()</p>
}


@code {
    public record TodoItem(string Description, DateTime? DueDate);

    private List<TodoItem> Todos = new List<TodoItem>();

    private string NewTodo = string.Empty;

    private DateTime? DueDate = null;

    private void Save()
    {
        Todos.Add(new(NewTodo, DueDate));
    }

    /*
     * async Task PlaceTodo
     */
} 