@inherits LayoutComponentBase
<!-- [3] This is used on all pages-->

<PageTitle>BlazorApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
        <!-- [3] THis is where the content should be -->
        <article class="content px-4">
            <!-- [7] Cascading Parameters-->
            <div>
                <CascadingValue Name="MaximumIncrementer" Value="300">
                    @Body
                </CascadingValue>
            </div>
        </article>

        <!-- [7] Outside the Cascading Parameters-->
        <BlazorApp.Pages.Counter IncrementBy="4"/>
    </main>
</div>
